# Project Identification
PROJECT_ID=multi-agentassistant
PROJECT_NUMBER=93150528623
REGION=us-central1

# Service Account Info
SA_NAME=multi-agentassistant-service
SERVICE_ACCOUNT=multi-agentassistant-service@multi-agentassistant.iam.gserviceaccount.com

# Model Settings (Fixed Version)
MODEL=gemini-2.5-flash
GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_CLOUD_PROJECT=multi-agentassistant
GOOGLE_CLOUD_LOCATION=us-central1

# AlloyDB Connectivity
DB_HOST=34.10.108.165
DB_USER=postgres
DB_PASS="YOUR_PASSWORD_HERE"
DB_NAME=postgres